* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$small-screen: 700px;
$medium-screen: 1024px;

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button.btn {
  background-color: #fff;
  color: black;
  border: none;
  box-shadow: 0 0 5px 0 rgba(black, 0.3);
  padding: 1em 2em;
  cursor: pointer;
  margin: 5px;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(black, 0.3);
  }
}

.container {
  box-shadow: 0 0 15px rgba(black, 0.25);
  width: 50%;

  @media screen and (max-width: $medium-screen) {
    width: 75%;
  }

  @media screen and (max-width: $small-screen) {
    margin: 5px auto;
    width: 95%;
  }

  margin: 2em auto;
  padding: 2em;
  text-align: center;

  header {
    text-align: center;
    margin-bottom: 2em;

    h1 {
      text-transform: uppercase;
    }

    h4 {
      a {
        text-decoration: none;
        color: #0ad;
      }
    }
  }

  .score {
    margin: 1em auto;
  }

  .controls {
    margin: 1em auto;
  }
}

#game-board {
  margin: auto;
  background: #333;
  display: grid;
  position: relative;

  .tile {
    background-color: #ddd;
    position: relative;
    .number {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      color: #333;

      &.power1 {
        background-color: #f2f2f2;
      }

      &.power2 {
        background-color: #ede9d3;
      }

      &.power3 {
        background-color: #e3dbb1;
      }

      &.power4 {
        background-color: #e3cfb1;
      }

      &.power5 {
        background-color: #dbb8a7;
      }

      &.power6 {
        background-color: #d6a1ae;
      }

      &.power7 {
        background-color: #d194ca;
      }

      &.power8 {
        background-color: #b394d1;
      }

      &.power9 {
        background-color: #8881d6;
      }

      &.power10 {
        background-color: #7eb1d9;
      }

      &.power11 {
        background-color: #7bdbdb;
      }

      &.power12 {
        background-color: #73d196;
      }

      &.power13 {
        background-color: #74c767;
      }

      &.power14 {
        background-color: #9aba63;
      }

      &.power15 {
        background-color: #aec24c;
      }

      &.power16 {
        background-color: #c9c120;
      }
    }
  }

  .overlap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(black, 0.3);

    .overlap-content {
      width: 75%;
      background-color: #fff;
      box-shadow: 0 0 15px 0 rgba(black, 0.3);
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em 1em 1em 1em;

      @media screen and (max-width: $small-screen) {
        padding: 1em;
      }

      button.btn {
        @media screen and (max-width: $small-screen) {
          padding: 0.5em;
        }
      }
      input {
        margin: 10px;
        border: 1px solid #666;
        border-radius: 2px;
        padding: 5px;
        max-width: 80%;
      }
      input[type="number"] {
        max-width: 45px;
      }

      p {
        margin: 10px;
        @media screen and (max-width: $small-screen) {
          font-size: 0.6em;
        }
        &.code {
          background-color: #b1ddc1;
          padding: 2px;
          border: #6c9964 3px solid;
        }
      }
    }
  }
}
